.without-colon:after {
  content: '';
}

.inline-radio-label {
  display: inline;
  top: 7px;
  position: relative;
}

#cloud-enable{
  margin: -5px 0 10px 10px;
  width: 25px;
  height: 25px;
}

.provider-fieldset{
  display: none;
}

.provider-fieldset.active{
  display: block;
}