{% set enabled_storage = data['ckan.cloud_storage_enable'] %}
{% set failover_handler = data['ckan.cloud_failover'] %}
{% import 'macros/form.html' as form %}
{% import 'macros/autoform.html' as autoform %}

{% extends "admin/base.html" %}
{% block scripts %}
{{ super() }}
{% resource 'cloud_connector/scripts/cloud_connector_checkbox_switcher.js' %}
{% endblock %}

{% block primary_content_inner %}
<form method='post' action="" class="form-horizontal" data-module="cloudconnector-form-disabler" data-module-test-url="{% url_for controller='ckanext.cloud_connector.controllers.controller:CCController', action='test_config' %}">
  {{ form.errors(error_summary) }}
  {% block admin_form %}
  <fieldset>
    <legend>Cloud settings</legend>
    <input type="hidden" name="ckan.cloud_storage_enable" value='False'>
    <label for="" class="control-label">Cloud</label>
      <input id="cloud-enable" type="checkbox" name="ckan.cloud_storage_enable" value="1" {{ 'checked' if enabled_storage else '' }}>
    <p class="controls"><em>Currently only S3 Amazon is available</em></p>
    {{ form.select('ckan.cloud_storage_provider', label=_('Service provider'), id='cloud-storage-provider', options=conn_markdown, selected=data['ckan.cloud_storage_provider'] ) }}
    <label for="upload-failower" class="control-label">Failover</label>
    <fieldset id="upload-failower" class="controls">
      <input type="radio" id="upload-failowers-local" name="ckan.cloud_failover" value=1 {{ 'checked' if failover_handler or not failover_handler == '1' }}></radio>
      <label for="upload-failowers-local" class="without-colon inline-radio-label">Write upload to local</label>
      <br>
      <input type="radio" id="upload-failower-abort" name="ckan.cloud_failover" value=2 {{ 'checked' if failover_handler == '2' }}></radio>
      <label for="upload-failower-abort" class="without-colon inline-radio-label">Abort upload</label>
    </fieldset>
  </fieldset>
  <br>
  {% for (key, value) in implemented_connectors.items() %}

    <fieldset id="fieldset-{{ key }}" class="provider-fieldset {% if data['ckan.cloud_storage_provider'] == key %}active{% endif %}">
      <legend>{{ value.title }} {{ _('settings') }}</legend>
        {% for input in value.markdown %}
          {{ form[input.control](input.name, label=input.label,
            value=data.get(input.name),
            error=errors.get(input.name),
            attrs={'class':input.classes, 'disabled': 'disabled'}) }}
        {% endfor %}
        <button type="button" class="btn btn-primary pull-right test-providers-conf" name="test">{{ _('Test Config') }}</button>
    </fieldset>

  {% endfor %}
  {% endblock %}
  <div class="form-actions">
    {#
    {% set locale = h.dump_json({'content': _('Are you sure you want to reset the config?')}) %}
    <a href="{% url_for controller='admin', action='reset_config' %}" class="btn btn-danger pull-left" data-module="confirm-action" data-module-i18n="{{ locale }}">{{ _('Reset') }}</a>
    #}
    {% set locale = h.dump_json({'content': _('Are you sure you want to reset the config?')}) %}
    <a href="{% url_for controller='ckanext.cloud_connector.controllers.controller:CCController', action='reset_config' %}" class="btn btn-danger pull-left" data-module="confirm-action" data-module-i18n="{{ locale }}">{{ _('Reset') }}</a>
    <button type="submit" class="btn btn-primary" name="save">{{ _('Update Config') }}</button>
  </div>
</form>
{% endblock %}

{% block secondary_content %}
<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="icon-info-sign"></i>
    {{ _('CKAN Cloud Connector config options') }}
  </h2>
  <div class="module-content">
    {% block admin_form_help %}
    {% trans %}
    <p><strong>Cloud: </strong>Once the S3 cloud connector is enabled all future assets will be stored in S3 using the specificed access and secret key.</p>
    <p><strong>Failover: </strong>The failover options define how the cloud connector will behave when there is a problem with pushing a file into S3. It can either just store it locally or abort the upload and show an error message.</p>
    <p>In this version of the cloud connector only Amazon S3 storage is supported and there is no migration of local assets to S3 when enabled.</p>
    {% endtrans %}
    {% endblock %}
  </div>
</div>
{% endblock %}
